<article>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

  <header>
    <h2><%= link_to(@movie.title, @movie) %></h2>
  </header>
    <p><%= @movie.description %></p>
    <table>

      <tr>
        <td><b>Released:</b></td>
        <td><%= format_release_date(@movie.released_on) %></td>
      </tr>

       <tr>
        <td><b>Rating:</b></td>
        <td><%= @movie.rating  %></td>
      </tr>

      <tr>
        <td><b>Total Gross:</b></td>
        <td><%= format_total_gross(@movie) %></td>
      </tr>

    </table>
</artical>

<%= link_to "All Movies", movies_path %>

<%= link_to "Edit", edit_movie_path %>

<%= link_to "Delete", @movie, method: :delete, data: { confirm: "Are you sure?" } %>
