<article>
  <header>
    <h2><%= link_to(@movie.title, @movie) %></h2>
  </header>
    <p><%= @movie.description %></p>
    <table>
      <tr>
        <td><b>Released:</b></td>
        <td><%= format_release_date(@movie.released_on) %></td>
      </tr>
       <tr>
        <td><b>Rating:</b></td>
        <td><%= @movie.rating  %></td>
      </tr>
      <tr>
        <td><b>Total Gross:</b></td>
        <td><%= format_total_gross(@movie) %></td>
      </tr>
      <tr>
        <td><b>Cast:</b></td>
        <td><%= @movie.cast %></td>
      </tr>
      <tr>
        <td><b>Director:</b></td>
        <td><%= @movie.director %></td>
      </tr>
      <tr>
        <td><b>Duration:</b></td>
        <td><%= @movie.duration %></td>
      </tr>
      <tr>
        <td><b>Image:</b></td>
        <td><%= image_for(@movie) %></td>
      </tr>
  </table>
</artical>

<div id="show_menu">
  <ul>
    <li>
      <%= link_to "Edit", edit_movie_path %>
    </li>
    <li>
      <%= link_to "Delete", @movie, method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
    <li>
      <%= link_to "Reviews", movie_reviews_path(@movie) %>
    </li>

    <li>
      <%= link_to "Write Review", new_movie_review_path(@movie) %>
    </li>

  </ul>
</div>
